/*teal-green: #009871*/
.main {
  border-bottom: 1px solid #333;
  padding: 30px;
}

.artist-header{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
}

.artist-thumb {
  width: 200px;
  height: auto;
  float: left;
  margin-right: 15px;
}

.artist-albums .well {
  margin-bottom: 20px;
  overflow: auto;
  min-height: 400px;
}

.album {
  text-align: center;
  background: #333;
  padding: 10px 20px;
  border: 1px solid #666;
  position: relative;
}

.album-thumb {
  width: 100%;
}

.fixed-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
